# Before you start :
   - These exercises are related to the Pivot table and correlation lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary.

In [1]:
# your answer here
import pandas as pd 
import numpy as np   
import matplotlib.pyplot as plt 
import seaborn as sns

#### Open the ` Employee.csv` file and name your dataset `employee`.

In [2]:
# your answer here
employee = pd.read_csv('Employee.csv')

#### What's the mean salary by department?
Hint : There are 2 ways to do it - one way is with groupby and the other way is with pivot tables. Do it both ways.

In [3]:
# Method 1
# your answer here
mean_salary_by_department_groupby = employee.groupby('Department')['Salary'].mean()

print(mean_salary_by_department_groupby)

Department
HR       45.00
IT       48.75
Sales    55.00
Name: Salary, dtype: float64

#### We want now to group the data by more than one column. Use Pandas pivot table function to select the mean salary by department and title.

In [11]:
# Method 2
# your answer here
display = pd.pivot_table(employee, values='Salary', index='Department', aggfunc='mean')

print(pivot_table)

Years         1     2     3     4     7     8
Title
VP          NaN   NaN   NaN   NaN   NaN  70.0
analyst    35.0  30.0   NaN  35.0   NaN   NaN
associate   NaN  55.0  55.0   NaN  60.0   NaN

In [ ]:
# your answer here

#### We want to display the number of years of work experience and the salary for each Title. Add Years as a column in your pivot table.
*Hint: Use Pandas doc(see References in README.md) to explore the pivot_table() arguments*

In [10]:
# your answer here

#pivot_table = pd.pivot_table(employee, values='Salary', index='Title', columns='Years', aggfunc='mean')
display(employee.pivot_table(index='Department', values='Salary', aggfunc='mean'))

print(pivot_table)

            Salary
Department
HR           45.00
IT           48.75
Sales        55.00

Years         1     2     3     4     7     8
Title
VP          NaN   NaN   NaN   NaN   NaN  70.0
analyst    35.0  30.0   NaN  35.0   NaN   NaN
associate   NaN  55.0  55.0   NaN  60.0   NaN

#### We want to know the information about the mean salary and number of employees in each department and for each job title.

In [14]:
# your answer here

import pandas as pd


employee = pd.read_csv('Employee.csv')

# Group and aggregate data
result = employee.groupby(['Department', 'Title']).agg({
    'Salary': ['median', 'min', 'max', 'std']
}).reset_index()

# Rename the columns for clarity
result.columns = ['Department', 'Title', 'Median Salary', 'Min Salary', 'Max Salary', 'Standard Deviation']

# Display the result
print(result)

  Department      Title  Median Salary  Min Salary  Max Salary  \
0         HR         VP           70.0          70          70
1         HR    analyst           32.5          30          35
2         IT         VP           70.0          70          70
3         IT    analyst           32.5          30          35
4         IT  associate           60.0          60          60
5      Sales  associate           55.0          55          55

   Standard Deviation
0                 NaN
1            3.535534
2                 NaN
3            3.535534
4                 NaN
5            0.000000

#### We want to know for each department and for each job title the Salary's median, minimum, maximum and standard deviation. Comment your results.

In [17]:
# your answer hereimport pandas as pd



import pandas as pd

employee = pd.read_csv('Employee.csv')

# Group and aggregate data
result = employee.groupby(['Department', 'Title']).agg({
    'Salary': ['median', 'min', 'max', 'std']
}).reset_index()

# Rename the columns for clarity
result.columns = ['Department', 'Title', 'Median Salary', 'Min Salary', 'Max Salary', 'Standard Deviation']

# Display the result
print(result)

  Department      Title  Median Salary  Min Salary  Max Salary  \
0         HR         VP           70.0          70          70
1         HR    analyst           32.5          30          35
2         IT         VP           70.0          70          70
3         IT    analyst           32.5          30          35
4         IT  associate           60.0          60          60
5      Sales  associate           55.0          55          55

   Standard Deviation
0                 NaN
1            3.535534
2                 NaN
3            3.535534
4                 NaN
5            0.000000

In [ ]:
#### Based on your comments, fill the missing values with an appropriate value.

In [25]:
# your answer here
employee = pd.read_csv('Employee.csv')
def fill_missing(group):
    mean_salary = group['Salary'].mean()
    group['Salary'].fillna(mean_salary, inplace=True)
    return group

# Apply the custom function to fill missing values
df = df.groupby(['Department', 'Title']).apply(fill_missing)

display = pd.pivot_table(df, values='Salary', index='Department', columns='Title', aggfunc='mean')


print(pivot_table)

Title       analyst  associate
Department
HR             32.5        NaN
IT             32.5       60.0

#### The stake holders want to know for each department the number of employees and how much money is spend on salaries. Could you provide that information?

In [18]:
# your answer here
employee = pd.read_csv('Employee.csv')

employee_count = employee.groupby('Department')['Name'].count().reset_index()
employee_count.columns = ['Department', 'Number of Employees']


salary_expenses = employee.groupby('Department')['Salary'].sum().reset_index()
salary_expenses.columns = ['Department', 'Total Salary Expenses']


result = pd.merge(employee_count, salary_expenses, on='Department')

# Display the result
print(result)

  Department  Number of Employees  Total Salary Expenses
0         HR                    3                    135
1         IT                    4                    195
2      Sales                    2                    110

#### For each Department and Title, we want to know the the total years of work experience and the mean salary.

In [19]:
# your answer here
employee = pd.read_csv('Employee.csv')

result = employee.groupby(['Department', 'Title']).agg({
    'Years': 'sum',
    'Salary': 'mean'
}).reset_index()

result.columns = ['Department', 'Title', 'Total Years of Work', 'Mean Salary']

# Display the result
print(result)

  Department      Title  Total Years of Work  Mean Salary
0         HR         VP                    8         70.0
1         HR    analyst                    6         32.5
2         IT         VP                    8         70.0
3         IT    analyst                    3         32.5
4         IT  associate                    7         60.0
5      Sales  associate                    5         55.0

### Bonus

#### We now want to compute the mean salary after removing the maxima for each Department. Create the appropriate pivot table.

Hint: Write a custom function.

In [23]:
# your answer here
employee = pd.read_csv('Employee.csv')
def remove_max_salary(group):
    max_salary = group['Salary'].max()
    group['Salary'].replace(max_salary, float('nan'), inplace=True)
    return group

# Apply the custom function to remove maximum salaries
employee = employee.groupby('Department').apply(remove_max_salary)

# Create a pivot table to compute the mean salary
display = pd.pivot_table(df, values='Salary', index='Department', columns='Title', aggfunc='mean')


print(pivot_table)

Title       analyst  associate
Department
HR             32.5        NaN
IT             32.5       60.0